<?php
$i++;
{% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
$cfg['Servers'][$i]['host'] = '{{ conf_serv_db["ip"] }}';
{% else -%}
$cfg['Servers'][$i]['host'] = '127.0.0.1';
{% endif -%}
$cfg['Servers'][$i]['port'] = '3306';
?>