parameters:
    {% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
    database_host:     {{ conf_serv_db["ip"] }}
    {% else -%}
    database_host:     localhost
    {% endif -%}
    database_port:     ~
    database_name:     {{ conf_db["nombre"] }}
    database_user:     {{ conf_db["usuario"] }}
    database_password: {{ conf_db["pass"] }}
    database_prefix:   ps_
    database_engine: InnoDB

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale: es-ES

    use_debug_toolbar: true