<?php
/*--------------- CONFIGURACIÓN PERSONALIZADA ---------------*/
	define( 'DB_NAME', '{{ conf_db["nombre"] }}' );
	define( 'DB_USER', '{{ conf_db["usuario"] }}' );
	define( 'DB_PASSWORD', '{{ conf_db["pass"] }}' );
	{% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
	define( 'DB_HOST', '{{ conf_serv_db["ip"] }}' );
	{% else -%}
	define( 'DB_HOST', 'localhost');
	{% endif -%}
	define( 'DB_CHARSET', 'utf8' );
	define( 'DB_COLLATE', '' );
/*-----------------------------------------------------------*/

/*--------------- CONFIGURACIÓN GENERAL ---------------*/
	$table_prefix = 'wp_';

	/* DEBUG */
	define( 'WP_DEBUG', false );

	if ( ! defined( 'ABSPATH' ) ) {
		define( 'ABSPATH', __DIR__ . '/' );
	}

	require_once ABSPATH . 'wp-settings.php';
/*-----------------------------------------------------*/
?>