- hosts: all
  become: true

  tasks:
#--------------- PASOS PREVIOS ---------------#
    - name: Creación directorio para hostings
      file:
        {% if "vhost_loc" in conf_web -%}
        path: {{ conf_web["vhost_loc"] }}
        {% else -%}
        path: /var/www/html/
        {% endif -%}
        state: directory
        mode: '0755'
    
    {% if "phpmyadmin" in conf_db and conf_db["phpmyadmin"] == "y" -%}
    - name: Directorio PhPMyAdmin
      file:
        {% if "vhost_loc" in conf_web -%}
        path: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/
        {% else -%}
        path: /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/
        {% endif -%}
        state: directory
        mode: '0755'
    {% endif %}

    - name: Directorio Logs
      file:
        {% if "vhost_loc" in conf_web -%}
        path: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/logs/
        {% else -%}
        path: /var/www/html/{{ conf_web["servername"] }}/logs/
        {% endif -%}
        state: directory
        mode: '0755'
#---------------------------------------------#

#--------------- INSTALACIÓN SERVIDOR WEB Y COMPLEMENTOS ---------------#
    - name: Instalación de los paquetes necesarios
      apt:
        pkg:
          - php7.3-mysql
          {% if conf_web["servidor"] == "apache" -%}
          - apache2
          - libapache2-mod-php7.3
          {% elif conf_web["servidor"] == "nginx" -%}
          - nginx
          - php7.3-fpm
          {% endif -%}
          {% if "phpmyadmin" in conf_db and conf_db["phpmyadmin"] == "y" -%}
          {% if conf_web["aplicacion"] == "wordpress" -%}
          - unzip
          - php7.3-mbstring
          - php7.3-zip
          - php7.3-curl
          - php7.3-gd
          {% elif conf_web["aplicacion"] == "nextcloud" -%}
          - unzip
          - php7.3-mbstring
          - php7.3-zip
          - php7.3-curl
          - php7.3-gd
          - php7.3-xml
          - php7.3-json
          {% elif conf_web["aplicacion"] == "prestashop" -%}
          - unzip
          - php7.3-mbstring
          - php7.3-zip
          - php7.3-curl
          - php7.3-gd
          - php7.3-xml
          - php7.3-intl
          {% endif -%}
          {% elif "phpmyadmin" not in conf_db or conf_db["phpmyadmin"] == "n" -%}
          {% if conf_web["aplicacion"] == "nextcloud" -%}
          - unzip
          - php7.3-mbstring
          - php7.3-zip
          - php7.3-curl
          - php7.3-gd
          - php7.3-xml
          - php7.3-json
          {% elif conf_web["aplicacion"] == "prestashop" -%}
          - unzip
          - php7.3-xml
          - php7.3-intl
          - php7.3-zip
          - php7.3-curl
          - php7.3-gd
          {% endif -%}
          {% endif %}
#-----------------------------------------------------------------------#

    {% if conf_web["servidor"] == "apache" %}
#--------------- CONFIGURACIÓN SERVIDOR WEB ---------------#
    - name: Configuración general de apache
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/web/files/apache.conf
        {% else -%}
        src: roles/web/files/apache.conf
        {% endif -%}
        dest: /etc/apache2/apache2.conf
        owner: root
        group: root
        mode: '0644'
    
    {% if conf_web["aplicacion"] == "nextcloud" -%}
    - name: Activación del módulo headers
      command: a2enmod headers
    {% endif -%}
    
    - name: Activación del módulo rewrite
      command: a2enmod rewrite
      notify: Reload Apache
#----------------------------------------------------------#
    {% endif -%}

    {% if "phpmyadmin" in conf_db and conf_db["phpmyadmin"] == "y" %}
#--------------- INSTALACIÓN Y CONFIGURACIÓN PHPMYADMIN ---------------#
    - name: PhPMyAdmin - Descarga
      unarchive:
        src: https://files.phpmyadmin.net/phpMyAdmin/5.0.4/phpMyAdmin-5.0.4-all-languages.zip
        {% if "vhost_loc" in conf_web -%}
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/
        {% else -%}
        dest: /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/
        {% endif -%}
        remote_src: yes

    - name: PhPMyAdmin - Mover contenido
      {% if "vhost_loc" in conf_web -%}
      shell: "mv {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/phpMyAdmin-5.0.4-all-languages/* {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/"
      {% else -%}
      shell: "mv /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/phpMyAdmin-5.0.4-all-languages/* /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/"
      {% endif %}

    - name: PhPMyAdmin - Eliminar directorio instalación
      {% if "vhost_loc" in conf_web -%}
      file:
        path: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/phpMyAdmin-5.0.4-all-languages/
        state: absent
      {% else -%}
      file:
        path: /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/phpMyAdmin-5.0.4-all-languages/
        state: absent
      {% endif %}

    - name: PhPMyAdmin - Fichero de configuración
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/apps/files/config.inc.php
        {% else -%}
        src: roles/apps/files/config.inc.php
        {% endif -%}
        {% if "vhost_loc" in conf_web -%}
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/phpmyadmin/
        {% else -%}
        dest: /var/www/html/{{ conf_web["servername"] }}/phpmyadmin/
        {% endif -%}
        owner: www-data
        group: www-data
        mode: '0644'
#----------------------------------------------------------------------#
    {% endif %}

#--------------- CONFIGURACIÓN VIRTUALHOST ---------------#
    {% if conf_web["servidor"] == "apache" -%}
    - name: Configuración virtualhost.
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/web/files/{{ conf_web["servername"] }}.conf
        {% else -%}
        src: roles/web/files/{{ conf_web["servername"]}}.conf
        {% endif -%}
        dest: /etc/apache2/sites-available/{{ conf_web["servername"] }}.conf
        owner: root
        group: root
        mode: '0644'
    
    - name: Activar virtualhost
      command: a2ensite {{ conf_web["servername"] }}.conf
      notify: Reload Apache
    {% elif conf_web["servidor"] == "nginx" -%}
    - name: Configuración virtualhost
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/web/files/{{ conf_web["servername"] }}.conf
        {% else -%}
        src: roles/web/files/{{ conf_web["servername"]}}.conf
        {% endif -%}
        dest: /etc/nginx/conf.d/{{ conf_web["servername"] }}.conf
        owner: root
        group: root
        mode: '0644'

    - name: Restart Nginx
      service:
        name: nginx
        state: restarted   
    {% endif %}
#---------------------------------------------------------#

#--------------- INSTALACIÓN CMS ---------------#
    - name: Descarga {{ conf_web["aplicacion"] }}
      unarchive:
        {% if conf_web["aplicacion"] == "wordpress" -%}
        extra_opts: [--strip-components=1]
        src: https://wordpress.org/wordpress-5.4.4.tar.gz
        {% elif conf_web["aplicacion"] == "nextcloud" -%}
        src: https://download.nextcloud.com/server/releases/nextcloud-20.0.3.zip
        {% elif conf_web["aplicacion"] == "prestashop" -%}
        src: https://download.prestashop.com/download/releases/prestashop_1.7.7.0.zip
        {% endif -%}
        {% if "vhost_loc" in conf_web -%}
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/
        {% else -%}
        dest: /var/www/html/{{ conf_web["servername"] }}/
        {% endif -%}
        remote_src: yes

    {% if conf_web["aplicacion"] == "wordpress" -%}
    - name: Wordpress - Configuración BD.
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/cms/files/wp-config.php
        {% else -%}
        src: roles/cms/files/wp-config.php
        {% endif -%}
        {% if "vhost_loc" in conf_web -%}
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/wp-config.php
        {% else -%}
        dest: /var/www/html/{{ conf_web["servername"] }}/wp-config.php
        {% endif -%}
        owner: www-data
        group: www-data
        mode: '0640'
    {% elif conf_web["aplicacion"] == "nextcloud" -%}
    - name: Nextcloud - Mover contenido
      {% if "vhost_loc" in conf_web -%}
      shell: "mv {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/nextcloud/* {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/"
      {% else -%}
      shell: "mv /var/www/html/{{ conf_web["servername"] }}/nextcloud/* /var/www/html/{{ conf_web["servername"] }}/"
      {% endif %}

    - name: Nextcloud - Eliminar directorio instalación
      {% if "vhost_loc" in conf_web -%}
      file:
        path: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/nextcloud
        state: absent
      {% else -%}
      file:
        path: /var/www/html/{{ conf_web["servername"] }}/nextcloud
        state: absent
      {% endif %}
    {% elif conf_web["aplicacion"] == "prestashop" -%}
    - name: Prestashop - Descompresión del instalador.
      unarchive:
        {% if "vhost_loc" in conf_web -%}
        src: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/prestashop.zip
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/
        {% else -%}
        src: /var/www/html/{{ conf_web["servername"] }}/prestashop.zip
        dest: /var/www/html/{{ conf_web["servername"] }}/
        {% endif -%}
        remote_src: yes
    
    - name: Prestashop - Configuración BD.
      copy:
        {% if conf_general != 0 and "workdir" in conf_general -%}
        src: {{ conf_general["workdir"] }}roles/cms/files/parameters.yml.dist
        {% else -%}
        src: roles/cms/files/parameters.yml.dist
        {% endif -%}
        {% if "vhost_loc" in conf_web -%}
        dest: {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/app/config/parameters.yml.dist
        {% else -%}
        dest: /var/www/html/{{ conf_web["servername"] }}/app/config/parameters.yml.dist
        {% endif -%}
        owner: www-data
        group: www-data
        mode: '0640'
    {% endif %}
    
    - name: Permisos Documentroot.
      file:
        {% if "vhost_loc" in conf_web -%}
        path: {{ conf_web["vhost_loc"] + conf_web["servername"] }}/
        {% else -%}
        path: /var/www/html/{{ conf_web["servername"] }}/
        {% endif -%}
        state: directory
        owner: www-data
        group: www-data
        recurse: yes
        mode: '0750'

    - name: Permisos y propietarios de directorios.
      {% if "vhost_loc" in conf_web -%}
      command: "find {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/ -type d -exec chown www-data:www-data {} \\; -exec chmod 750 {} \\;"
      {% else -%}
      command: "find /var/www/html/{{ conf_web["servername"] }}/ -type d -exec chown www-data:www-data {} \\; -exec chmod 750 {} \\;"
      {% endif %}

    - name: Permisos y propietarios de ficheros.
      {% if "vhost_loc" in conf_web -%}
      command: "find {{ conf_web["vhost_loc"] }}{{ conf_web["servername"] }}/ -type f -exec chown www-data:www-data {} \\; -exec chmod 750 {} \\;"
      {% else -%}
      command: "find /var/www/html/{{ conf_web["servername"] }}/ -type f -exec chown www-data:www-data {} \\; -exec chmod 750 {} \\;"
      {% endif %}
#-----------------------------------------------#

#--------------- HANDLERS ---------------#
  handlers:
    {% if conf_web["servidor"] == "apache" -%}
    - name: Reload Apache
      service:
        name: apache2
        state: reloaded
    {% elif conf_web["servidor"] == "nginx" -%}
    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
    {% endif -%}
#----------------------------------------#