- hosts: all
  become: true

  tasks:
#--------------- INSTALACIÓN SERVIDOR BASE DE DATOS ---------------#
    - name: Instalación del servidor de base de datos.
      apt:
        pkg:
          - mariadb-server
#------------------------------------------------------------------#
{% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
#--------------- CONFIGURACIÓN DEL ACCESO REMOTO ---------------#
    - name: Creación de regla de iptables.
      iptables:
        chain: INPUT
        source: {{ conf_serv_web["ip"] }}
        protocol: tcp
        destination_port: 3306
        jump: ACCEPT

    - name: Configuración del servidor para acceso remoto.
      copy:
        src: roles/db/files/50-server.cnf
        dest: /etc/mysql/mariadb.conf.d/50-server.cnf
        owner: root
        group: root
        mode: '0644'
      notify: Restart MariaDB
#---------------------------------------------------------------#
{% endif -%}
#--------------- COPIA INSTRUCCIONES Y CREACIÓN DE USUARIO Y DB ---------------#
    - name: Copia del fichero de instrucciones.
      copy:
        src: roles/db/files/creacion_db_user.sql
        dest: /root/creacion_db_user.sql
        owner: root
        group: root
        mode: '0644'

    - name: Creación de base de datos y usuario.
      shell: /usr/bin/mysql < /root/creacion_db_user.sql
#-----------------------------------------------------------------------------#

#--------------- HANDLERS ---------------#
  handlers:
    - name: Restart MariaDB
      service:
        name: mysql
        state: restarted
#----------------------------------------#