<VirtualHost *:80>
ServerName {{ conf_web["servername"] }}
{% if conf_web["serveralias"] is string -%}
ServerAlias {{ conf_web["serveralias"] }}.{{ conf_web["servername"] }}
{% elif conf_web["serveralias"] is sequence -%}
{% for alias in conf_web["serveralias"] -%}
ServerAlias {{ alias }}.{{ conf_web["servername"] }}
{% endfor -%}
{% endif -%}
ServerAdmin webmaster@localhost
{% if "vhost_loc" in conf_web -%}
DocumentRoot {{ conf_web["vhost_loc"] + conf_web["servername"] }}/
{% else -%}
DocumentRoot /var/www/html/{{ conf_web["servername"] }}/
{% endif -%}

{% if "vhost_loc" in conf_web -%}
<Directory {{ conf_web["vhost_loc"] + conf_web["servername"] }}/>
	AllowOverride All
	{% if conf_web["aplicacion"] == "wordpress" -%}
	Options FollowSymLinks
	{% elif conf_web["aplicacion"] == "nextcloud" or conf_web["aplicacion"] == "prestashop" -%}
	Options FollowSymLinks MultiViews
	{% endif -%}
	Require all granted
{% if conf_web["aplicacion"] == "nextcloud" -%}
	<IfModule mod_dav.c>
		Dav off
	</IfModule>
{% endif -%}
</Directory>
{% else -%}
<Directory /var/www/html/{{ conf_web["servername"] }}/>
	AllowOverride All
	Options FollowSymLinks
	Require all granted
</Directory>
{% endif -%}

{% if "phpmyadmin" in conf_db and conf_db["phpmyadmin"] == "y" -%}
{% if "vhost_loc" in conf_web-%}
<Directory {{ conf_web["vhost_loc"] + conf_web["servername"] }}/phpmyadmin/>
	Options Indexes FollowSymLinks
	AllowOverride none
	Require all granted
</Directory>
{% else -%}
<Directory /var/www/html/{{ conf_web["servername"] }}/phpmyadmin>
	Options Indexes FollowSymLinks
	AllowOverride none
	Require all granted
</Directory>
{% endif -%}
{% endif -%}

{% if "vhost_loc" in conf_web -%}
ErrorLog {{ conf_web["vhost_loc"] + conf_web["servername"] }}/logs/error.log
CustomLog {{ conf_web["vhost_loc"] + conf_web["servername"] }}/logs/access.log combined
{% else -%}
ErrorLog /var/www/html/{{ conf_web["servername"] }}/logs/error.log
CustomLog /var/www/html/{{ conf_web["servername"] }}/logs/access.log combined
{% endif -%}
</VirtualHost>
