#--------------- CONFIGURACIÓN GENERAL ---------------#
DefaultRuntimeDir ${APACHE_RUN_DIR}
PidFile ${APACHE_PID_FILE}
Timeout 300
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
HostnameLookups Off
ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel warn
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf
Include ports.conf
AccessFileName .htaccess
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
IncludeOptional conf-enabled/*.conf
IncludeOptional sites-enabled/*.conf

<Directory />
	Options FollowSymLinks
	AllowOverride None
	Require all denied
</Directory>

<FilesMatch "^\.ht">
	Require all denied
</FilesMatch>
#-----------------------------------------------------#

#--------------- CONFIGURACIÓN PERSONALIZADA ---------------#
{% if "vhost_loc" in conf_web -%}
<Directory {{ conf_web["vhost_loc"] }}>
	AllowOverride None
	Require all granted
</Directory>
{% else -%}
<Directory /var/www/html/>
	AllowOverride None
	Require all granted
</Directory>
{% endif -%}
#-----------------------------------------------------------#