{% if conf_web["aplicacion"] == "nextcloud" -%}
upstream php-handler {
    server unix:/var/run/php/php7.3-fpm.sock;
}
{% endif -%}

server {
        listen 80;
        listen [::]:80;
        {% if "vhost_loc" in conf_web -%}
        root {{ conf_web["vhost_loc"] + conf_web["servername"] }}/;
        {% else -%}
        root /var/www/html/{{ conf_web["servername"] }}/;
        {% endif -%}
        index index.php;
        {% if conf_web["serveralias"] is string -%}
        server_name {{ conf_web["servername"] }};
        {% elif conf_web["serveralias"] is sequence -%}
        server_name {{ conf_web["servername"] }}
                {% for alias in conf_web["serveralias"] -%}
                {{ alias }}.{{ conf_web["servername"] }}
                {% endfor -%}
                ;
        {% endif -%}

        {% if "vhost_loc" in conf_web -%}
        error_log {{ conf_web["vhost_loc"] + conf_web["servername"] }}/logs/error.log;
        access_log {{ conf_web["vhost_loc"] + conf_web["servername"] }}/logs/access.log;
        {% else -%}
        error_log /var/www/html/{{ conf_web["servername"] }}/logs/error.log;
        access_log /var/www/html/{{ conf_web["servername"] }}/logs/access.log;
        {% endif -%}

        {% if "phpmyadmin" in conf_db and conf_db["phpmyadmin"] == "y" -%}
        location /phpmyadmin {
            try_files $uri $uri/ =404;
        }
        {% endif -%}

        {% if conf_web["aplicacion"] == "wordpress" -%}
        client_max_body_size 100M;
        location / {
            try_files $uri $uri/ /index.php?$args;
        }
        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/run/php/php7.3-fpm.sock;
            fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
        {% elif conf_web["aplicacion"] == "nextcloud" -%}
        gzip on;
        gzip_vary on;
        gzip_comp_level 4;
        gzip_min_length 256;
        gzip_proxied expired no-cache no-store private no_last_modified no_etag auth;
        gzip_types application/atom+xml application/javascript application/json application/ld+json application/manifest+json application/rss+xml application/vnd.geo+json application/vnd.ms-fontobject application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/bmp image/svg+xml image/x-icon text/cache-manifest text/css text/plain text/vcard text/vnd.rim.location.xloc text/vtt text/x-component text/x-cross-domain-policy;

        add_header Referrer-Policy                      "no-referrer"   always;
        add_header X-Content-Type-Options               "nosniff"       always;
        add_header X-Download-Options                   "noopen"        always;
        add_header X-Frame-Options                      "SAMEORIGIN"    always;
        add_header X-Permitted-Cross-Domain-Policies    "none"          always;
        add_header X-Robots-Tag                         "none"          always;
        add_header X-XSS-Protection                     "1; mode=block" always;

        fastcgi_hide_header X-Powered-By;

        expires 1m;

        location = / {
            if ( $http_user_agent ~ ^DavClnt ) {
                return 302 /remote.php/webdav/$is_args$args;
            }
        }
    
        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }
    
        location ^~ /.well-known {
            rewrite ^/\.well-known/host-meta\.json  /public.php?service=host-meta-json  last;
            rewrite ^/\.well-known/host-meta        /public.php?service=host-meta       last;
            rewrite ^/\.well-known/webfinger        /public.php?service=webfinger       last;
            rewrite ^/\.well-known/nodeinfo         /public.php?service=nodeinfo        last;
            location = /.well-known/carddav     { return 301 /remote.php/dav/; }
            location = /.well-known/caldav      { return 301 /remote.php/dav/; }
            try_files $uri $uri/ =404;
        }
    
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)(?:$|/)  { return 404; }
        location ~ ^/(?:\.|autotest|occ|issue|indie|db_|console)              { return 404; }
    
        location ~ \.php(?:$|/) {
            fastcgi_split_path_info ^(.+?\.php)(/.*)$;
            set $path_info $fastcgi_path_info;
            try_files $fastcgi_script_name =404;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $path_info;
            fastcgi_param modHeadersAvailable true;    
            fastcgi_param front_controller_active true;
            fastcgi_pass php-handler;
            fastcgi_intercept_errors on;
            fastcgi_request_buffering off;
        }
    
        location ~ \.(?:css|js|svg|gif)$ {
            try_files $uri /index.php$request_uri;
            expires 6M;    
            access_log off;
        }
    
        location ~ \.woff2?$ {
            try_files $uri /index.php$request_uri;
            expires 7d;    
            access_log off;
        }
    
        location / {
            try_files $uri /index.php$request_uri;
        }
        {% elif conf_web["aplicacion"] == "prestashop" -%}
        # Redirect 404 errors to prestashop
        error_page 404 /index.php?controller=404;

        # Gzip Settings, convert all types.
        gzip on;
        gzip_vary on;
        gzip_proxied any;
        gzip_types
            application/atom+xml
            application/javascript
            application/json
            application/ld+json
            application/manifest+json
            application/rss+xml
            application/vnd.geo+json
            application/vnd.ms-fontobject
            application/x-font-ttf
            application/x-web-app-manifest+json
            application/xhtml+xml
            application/xml
            font/opentype
            image/bmp
            image/svg+xml
            image/x-icon
            text/cache-manifest
            text/css
            text/plain
            text/vcard
            text/vnd.rim.location.xloc
            text/vtt
            text/x-component
            text/x-cross-domain-policy;
        gzip_disable "MSIE [1-6]\.(?!.*SV1)";

        # Do not save logs for these
        location = /favicon.ico {
            auth_basic off;
            allow all;
            log_not_found off;
            access_log off;
        }

        location = /robots.txt {
            auth_basic off;
            allow all;
            log_not_found off;
            access_log off;
        }

        # Idioma
        rewrite ^/en$ / redirect;
        rewrite ^/en/(.*) /$1;
        rewrite ^/es$ / redirect;
        rewrite ^/es/(.*) /$1;

        # Images
        rewrite ^/([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$1$2$3.jpg last;
        rewrite ^/([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$1$2$3$4.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$1$2$3$4$5.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$4/$1$2$3$4$5$6.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$4/$5/$1$2$3$4$5$6$7.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$1$2$3$4$5$6$7$8.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$1$2$3$4$5$6$7$8$9.jpg last;
        rewrite ^/([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$2/$3/$4/$5/$6/$7/$8/$1$2$3$4$5$6$7$8$9$10.jpg last;
        rewrite ^/c/([0-9]+)(-[.*_a-zA-Z0-9-]*)(-[0-9]+)?/.+.jpg$ /img/c/$1$2$3.jpg last;
        rewrite ^/c/([a-zA-Z_-]+)(-[0-9]+)?/.+.jpg$ /img/c/$1$2.jpg last;

        # Web service API
        rewrite ^/api/?(.*)$ /webservice/dispatcher.php?url=$1 last;

        # Installation sandbox
        rewrite ^(/install(?:-dev)?/sandbox)/(.*) /$1/test.php last;

        location /admin/ {
            if (!-e $request_filename) {
                rewrite ^/.*$ /admin/index.php last;
            }
        }

        # File security
        # .htaccess .DS_Store .htpasswd etc
        location ~ /\. {
            deny all;
        }
        # Source code directories
        location ~ ^/(app|bin|cache|classes|config|controllers|docs|localization|override|src|tests|tools|translations|travis-scripts|vendor|var)/ {
            deny all;
        }
        # vendor in modules directory
        location ~ ^/modules/.*/vendor/ {
            deny all;
        }
        # Prevent exposing other sensitive files
        location ~ \.(yml|log|tpl|twig|sass)$ {
            deny all;
        }

        # Prevent injection of php files
        location /upload {
            location ~ \.php$ {
                deny all;
            }
        }
    
        location /img {
            location ~ \.php$ {
                deny all;
            }
        }

        # PHP FPM part
        location ~ \.php$ {
            # Verify that the file exists, redirect to index if not
            try_files $fastcgi_script_name /index.php$uri&$args =404;
            fastcgi_index  index.php;
            # Environment variables for PHP
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            include       fastcgi_params;
            fastcgi_param PATH_INFO       $fastcgi_path_info;
            fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_pass unix:/run/php/php7.3-fpm.sock;
            fastcgi_keep_conn on;
        }
        {% endif -%}
}