Vagrant.configure("2") do |config|
#-------------------- Servidor web --------------------#
{% if conf_serv_web != 0 -%}
config.vm.define :{{ conf_serv_web["hostname"] }} do |{{ conf_serv_web["hostname"] }}|  
{{ conf_serv_web["hostname"] }}.vm.hostname = "{{ conf_serv_web["hostname"] }}"
{{ conf_serv_web["hostname"] }}.vm.box = "{{ conf_serv_web["box"] }}"
{% if "public_network" in conf_serv_web -%}
{{ conf_serv_web["hostname"] }}.vm.network :public_network,:bridge=>"{{ conf_serv_web["adapter"] }}"
{% endif -%}
{% if "virtualbox_net" not in conf_serv_web -%}
{% if "ip" not in conf_serv_web -%}
{{ conf_serv_web["hostname"] }}.vm.network :private_network, type: "dhcp"
{% elif "ip" in conf_serv_web -%}
{{ conf_serv_web["hostname"] }}.vm.network :private_network, ip: "{{ conf_serv_web["ip"] }}"
{% endif -%}
{% elif "virtualbox_net" in conf_serv_web -%}
{% if "ip" not in conf_serv_web -%}
{{ conf_serv_web["hostname"] }}.vm.network :private_network, type: "dhcp",
virtualbox__intnet: "{{ conf_serv_web["virtualbox_net"] }}"
{% elif "ip" in conf_serv_web -%}
{{ conf_serv_web["hostname"] }}.vm.network :private_network, ip: "{{ conf_serv_web["ip"] }}",
virtualbox__intnet: "{{ conf_serv_web["virtualbox_net"] }}"
{% endif -%}
{% endif -%}
{{ conf_serv_web["hostname"] }}.vm.provision "ansible" do |ansible|
ansible.playbook = "playbook_web.yaml"
end
{% if "modo" not in conf_db or conf_db["modo"] == "local" -%}
{{ conf_serv_web["hostname"] }}.vm.provision "ansible" do |ansible|
ansible.playbook = "playbook_db.yaml"
end
{% endif -%}
{% endif -%}
end
#------------------------------------------------------#

{% if conf_serv_db != 0 -%}
#-------------------- Servidor de base de datos --------------------#
{% if conf_db["modo"] == "dedicado" -%}
config.vm.define :{{ conf_serv_db["hostname"] }} do |{{ conf_serv_db["hostname"] }}|  
{{ conf_serv_db["hostname"] }}.vm.hostname = "{{ conf_serv_db["hostname"] }}"
{{ conf_serv_db["hostname"] }}.vm.box = "{{ conf_serv_db["box"] }}"
{% if "public_network" in conf_serv_db -%}
{{ conf_serv_db["hostname"] }}.vm.network :public_network,:bridge=>"{{ conf_serv_db["adapter"] }}"
{% endif -%}
{% if "virtualbox_net" not in conf_serv_db -%}
{{ conf_serv_db["hostname"] }}.vm.network :private_network, ip: "{{ conf_serv_db["ip"] }}"
{% elif "virtualbox_net" in conf_serv_db -%}
{{ conf_serv_db["hostname"] }}.vm.network :private_network, ip: "{{ conf_serv_db["ip"] }}",
virtualbox__intnet: "{{ conf_serv_db["virtualbox_net"] }}"
{% endif -%}
{{ conf_serv_db["hostname"] }}.vm.provision "ansible" do |ansible|
ansible.playbook = "playbook_db.yaml"
end
end
#-------------------------------------------------------------------#
{% endif -%}
{% endif -%}
end