[server]
[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
port			= 3306
query_cache_size        = 16M
log_error 		= /var/log/mysql/error.log
expire_logs_days        = 10
character-set-server  	= utf8mb4
collation-server      	= utf8mb4_general_ci
#--------------- CONFIGURACIÓN PERSONALIZADA ---------------#
{% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
bind-address            = {{ conf_serv_db["ip"] }}
{% elif "modo" not in conf_db or conf_db["modo"] == "local" -%}
bind-address            = 127.0.0.1
{% endif -%}
#-----------------------------------------------------------#
[embedded]
[mariadb]
[mariadb-10.3]