CREATE DATABASE {{ conf_db["nombre"]}};
{% if "modo" in conf_db and conf_db["modo"] == "dedicado" -%}
CREATE USER {{ conf_db["usuario"] }}@{{ conf_serv_web["ip"] }} IDENTIFIED BY '{{ conf_db["pass"] }}';
GRANT ALL ON {{ conf_db["nombre"] }}.* TO {{ conf_db["usuario"] }}@{{ conf_serv_web["ip"] }};
{% else -%}
CREATE USER {{ conf_db["usuario"] }}@localhost IDENTIFIED BY '{{ conf_db["pass"] }}';
GRANT ALL ON {{ conf_db["nombre"] }}.* TO {{ conf_db["usuario"] }}@localhost;
{% endif -%}
